
.controlMenuContainer {
  display: flex;
  justify-content: flex-start;
  align-items:center;;
  align-content: center;
  height: 90vh;
  background-color: Beige;
  overflow: scroll;
}

.controlMenuContainer1 {
  display: flex;
  justify-content: center;
  align-items:center;;
  align-content: center;
  height: 90vh;
  background-color: Beige;
  overflow: scroll;
}

.controlMenuOne{
/*display: inline-block;*/
background-color: IndianRed;
color: white;
cursor: pointer;
/*align-self: center;*/
min-height: 5rem;
max-height: 10rem;
min-width: 15rem;
max-width: 20rem;
margin: .5em;
padding: .5em;
border-radius: 3rem;
font-family: 'Pompiere', cursive;
font-size: 2rem;
justify-content: center;
}

.menuNavButton{
display: grid;
background-color: Beige;
color: IndianRed;
width: Auto;
cursor: pointer;
align-self: center;
margin: .1rem;
padding: .1rem .5rem;
border-radius: 1rem;
font-family: 'Indie+Flower', cursive;
font-size: 1.2rem;
}

.menuButtonBox {
  display: flex;
  justify-content: center;
  background-color: IndianRed;
}
.menuHeaderBox{
display: grid;
grid-template-columns: 10% 80% 10%;
padding-right: 10%;
padding-left: 10%;
background: IndianRed;
margin-bottom: 0;
height: 10vh;
}
