.songOptionBox {
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: grid;
  justify-content: center;
  align-items: center;

}

.pianoKeys {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.midiSoundsClass {
  height: 0px;
  /*position: fixed;*/


}
.notesHeader {
  color: Lavender;
  display: grid;
  grid-template-columns: 10% 10% 70% 10%;

}
.notesContainter {
  display: grid;
  grid-template-columns: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.songOptionButton{
display: inline-block;;
background-color: IndianRed;
color: white;
cursor: pointer;
align-self: center;
margin: .5em;
padding: .5em;
border-radius: 3rem;
font-family: 'Pompiere', cursive;
font-size: 2rem;
justify-content: center;
opacity: .8;
}
.notesNavButton{
display: grid;
background-color: transparent;;
color: white;
width: Auto;
cursor: pointer;
align-self: center;
margin: .1rem;
padding: .1rem .5rem;
border-radius: 1rem;
font-family: 'Indie+Flower', cursive;
font-size: 1.2rem;
}

.navButtonBox {
display: flex;
justify-content: center;
}
.headerCenterTextContainer{
  display: grid;
  grid-template-columns: 100%;
}
.notesHeaderBox{
display: grid;
grid-template-columns: 10% 5% 5% 60% 5% 10%;
/*padding-right: 2.5%;
padding-left: 2.5%;*/
background: IndianRed;
margin-bottom: 0;
height: 2rem;
}




.notesHeaderText{
color: Snow;
font-family: 'Pompiere', cursive;
margin-bottom: 0;
}

.errorTxtOne{
display: inline-block;
color: Snow;
font-family: 'Pompiere', cursive;
margin-bottom: 0;
font-size: 1.5rem;
background-color: IndianRed;
padding: .2em;
border-radius: 1em;
margin: .2em;
}

.errorTxtTwo{
color: DarkSlateGray;
font-family: 'Pompiere', cursive;
margin-bottom: 0;
font-size: 2rem;
/*background-color: skyBlue;*/
padding: .2em;
border-radius: 1em;
margin: .2em;
}



.notesPage{
background:NavajoWhite ;
display: grid;
grid-template-columns: 100%;
min-height: 100vh;
max-height: 100%;
background-size: cover;
background-repeat: no-repeat;
}

.flexNotes{
display: block;
/*grid-template-columns: 65px 200px 200px 200px;*/
/*padding-left: 5%;
padding-right: 5%;*/
/*justify-content: center;*/
}

.flexNotesInner{
display: flex;
padding-left: 5%;
}



.singles{
display: grid;
grid-template-columns: 65px 200px 200px 200px;
padding-left: 10%;
}

.noteBox{
  display: grid;
  grid-template-columns: 100%;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.playedNoteBox {
  background-color: darkorange;
  background-blend-mode: luminosity;
  opacity: .8;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
	background:linear-gradient(left, #444 0%,#222 100%);
}
.correctNoteBoxBG{
background-color: lightBlue;
background-blend-mode: luminosity;
-webkit-transition: background-color 200ms linear;
-ms-transition: background-color 200ms linear;
transition: background-color 200ms linear;
}

.correctNoteBoxScale{
  background-color: lightBlue;
  background-blend-mode: luminosity;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  transform: scale(1.2);
  -webkit-transition: transform 300ms linear;
  -ms-transition: transform 300ms linear;
  transition: transform 300ms linear;

  }

.wrongNoteBox{
background-color: IndianRed;
background-blend-mode: luminosity;
-webkit-transition: background-color 200ms linear;
-ms-transition: background-color 200ms linear;
transition: background-color 200ms linear;
}

.noteTextBoxContainer {
  padding-left: .6rem;
  display: flex;


}
.noteTextBox{
/*border: .5px solid blue;*/
/*font-size: .8rem;*/
/*background-color: transparent;*/
display: inline-block;
/*background-color: DarkKhaki;*/
font-size: 1rem;
margin-left: .1rem;
margin-right: .1rem;
margin-bottom: 0px;
padding: .2rem;
border-radius: .5rem;
/*border-style: solid;
border-width: thin;*/
border-color: IndianRed;
text-transform:capitalize;
font-family: 'Pompiere', cursive;
font-weight: bold;
opacity: .8;
}

.noteSideBox{
/*border: .5px solid blue;*/
font-size: .8rem;
background-color: IndianRed;
margin-left: .2rem;
margin-bottom: 0px;
border-radius: .5rem;
text-transform:capitalize;
color: Snow;
font-family: 'Pompiere', cursive;
}

.songOptionHeaderText{
    display: inline-block;
  font-family: 'Pompiere', cursive;
  font-size: 2em;
  border-radius: .5rem;
  color: Snow;
  background-color: #554B75;
  opacity: .7;


}
.headerCenterText{
font-family: 'Pompiere', cursive;
font-size: 1.5rem;
/*background-color: MediumSlateBlue;*/
margin-bottom: 0;
color: Ivory;
font-weight: bolder;
}

.lyricBox{
font-family: 'Pompiere', cursive;
font-size: 1.2rem;
/*background-color: MediumSlateBlue;*/
margin-bottom: 0;
color: SaddleBrown;
font-weight: bolder;
}

.lineBox{
/*margin: 1em;*/
/*position: fixed;
top: 0;*/
width: 100%;
background-color: NavajoWhite;
border-radius: 0rem;
margin-left: 0%;
margin-right: 0%;
height: auto;
/*margin-bottom: 1em;*/
}

.choiceContainer {
  padding : 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: NavajoWhite;
}

.errorContainer {
  padding : 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: NavajoWhite;
}

.whiteKeyChoice {
  /* background-color: darkslategrey; */
  /* padding: 2rem;
  margin: 2rem; */
  display: block;
  height:10rem; width:10rem; margin:0 0 0 2rem; z-index:2;
	border:1px solid #000;
	border-radius:1rem;
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(top, #eee 0%,#fff 100%);
  justify-content: center;
  align-content: center;
  color: darkslategray;
  line-height: 10rem;
  font-size: 2rem;
  font-family: 'Pompiere', cursive;
  font-weight: bold;
}

.whiteKeyChoice:active {
	border-top:1px solid #777;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
	background: linear-gradient(top, #fff 0%,#e9e9e9 100%);
}

.whiteKeyChoice:hover {
	background-color: indianred;
}

.whiteKeyText{
  color: darkslategray;
  align-self: center;
}

.blackKeyChoice {
  /* background-color: darkslategrey; */

  /* padding: 2rem;
  margin: 2rem; */
  height:10rem; width:10rem; margin:0 0 0 2rem; z-index:2;
	border:1px solid #000;
	border-radius:1rem;
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
	background:linear-gradient(45deg, #222 0%,#555 100%);
  color: cornsilk;
  line-height: 10rem;
  font-size: 2rem;
  font-family: 'Pompiere', cursive;
  font-weight: bold;
}

.blackKeyText{
  color: cornsilk;
}

.blackKeyChoice:hover {
	background-color: indianred;
}

@media screen and (orientation:portrait) {

  .lineBox{
    margin-left: 0%;
    margin-right: 0%;
  }

}
