.controlMenuContainerBase {
  display: flex;
  justify-content: center;
  align-items:center;
  align-content: center;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  -webkit-transition: background 500ms linear;
  -ms-transition: background 500ms linear;
  transition: background 500ms linear;
}

.topMenuBack {
    display: flex;
    background-image: url('./..//media/pianoback1.jpg');
}

.topMenuButton {
  background-color: Indigo;
  color: white;

}

.lessonBack {
    background-image: url('./..//media/pianoback2.jpg');
    display: grid;
    grid-template-columns: 50% 50%;
}

.lessonButton{
  background-color: Indigo;
  color: white;


}





.songBack {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    background-image: url('./..//media/pianoback3.jpg');
}

.songButton{
  background-color: Indigo;
  color: white;


}


.ragaButton{
  background-color: #1C1619;
  color: white;
}


.ragaBack {
    background-image: url('./..//media/pianoback4.jpg');
}

.ragagrid1 {
    display: flex;
}

.ragagrid2 {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
}

.ragagrid3 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.lessonNumBox {
  border-radius: 6vh;
  margin: 1vh 1vw 1vh 1vw;
  padding: 1vh 2vw 1vh 2vw;
  background-color: DarkSlateBlue;
  font-family: 'Pompiere', cursive;
  font-size: 6vh;
  opacity: 1;
  color: gold;
  font-weight: bold;
}

.controlMenuOne{
display: inline-flex;;
background-color: Indigo;
color: white;
cursor: pointer;
/*align-self: center;*/
min-width: 22vw;
max-width: 50vw;
min-height:  10vh;
max-height: 20vh;
margin: 2vh 2vw 2vh 2vw;
padding: 2vh 1vw 2vh 1vw;
border-radius: 10vh;
font-family: 'Pompiere', cursive;
font-size: 7vh;
justify-content: center;
align-items: center;
align-content: center;
text-align: center;
opacity: .8;
box-shadow: .5rem .5rem .25rem DarkSlateGray;
}

.controlMenuOneOld{
display: inline-flex;;
background-color: Indigo;
color: white;
cursor: pointer;
/*align-self: center;*/
min-height:  3rem;
max-height: 6rem;
min-width: 8rem;
max-width: 15rem;
margin: .4em;
padding: .4em;
border-radius: 3rem;
font-family: 'Pompiere', cursive;
font-size: 1.6rem;
justify-content: center;
align-items: center;
align-content: center;
text-align: center;
opacity: .8;
box-shadow: .5rem .5rem .25rem DarkSlateGray;
}




/*header box with text*/
.menuHeaderBox{
display: grid;
grid-template-columns: 10% 80% 10%;
/*padding-right: 10%;
padding-left: 10%;*/
padding: .1vh;
background: Indigo;
margin-bottom: 0;
height: 10vh;
color: Aqua;
font-family: 'Pompiere', cursive;
font-size: 8vh;
}


/*container from back button */
.menuButtonBox {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

/* back button in the header*/
.menuNavButton{
  display: grid;
  background-color: transparent;;
  color: white;
  width: Auto;
  cursor: pointer;
  align-self: center;
  /* margin: .1rem; */
  /* padding: .1rem .5rem; */
  /* border-radius: 1rem; */
  font-family: 'Indie+Flower', cursive;
  font-size: 6vh;
  }
